<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirme sua Presença</title>

    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    
    <header>
        <nav>
            <ul class="navbar-list">
                <li><a href="../index.html" class="active">Início</a></li>
                <li><a href="./confirmacao.html">Confirmação</a></li>
                <li><a href="./padrinhos.html">Padrinhos</a></li>
                <li><a href="./presenca.html">Presença</a></li>
                <li><a href="./presentes.html">Presentes</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>