<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padrinhos e Madrinhas</title>

    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    
    <header>
        <nav>
            <div class="couple-name">
                Bryan & Vanessa
            </div>
            <ul class="navbar-list">
                <li><a href="../index.html">Início</a></li>
                <li><a href="./padrinhos.html" class="active">Padrinhos</a></li>
                <li><a href="./presenca.html">Presença</a></li>
                <li><a href="./presentes.html">Presentes</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <div class="links-group">
            <ul class="footer-links">
                <li><a href="../index.html">Início</a></li>
                <li><a href="padrinhos.html">Padrinhos</a></li>
                <li><a href="presenca.html">Presença</a></li>
                <li><a href="presentes.html">Presentes</a></li>
            </ul>
        </div>

        <div class="copyright-group">
            <p class="copyright-line-one">&copy; <span id="current-year"></span> | Bryan & Vanessa</p>
            <p class="copyright-line-two">Todos os direitos reservados</p>
        </div>
        
        <div class="social-media-group">
            <p class="duvidas-texto">Dúvidas:</p>
            <ul class="social-links">
                <li>
                    <a href="https://wa.me/41988939608" target="_blank" class="whatsapp-link">
                        <img src="../images/whatsapp.png" alt="WhatsApp">
                        Bryan
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/63933005070" target="_blank" class="whatsapp-link">
                        <img src="../images/whatsapp.png" alt="WhatsApp">
                        Vanessa
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="script/countdown.js"></script>
    <script src="script/script.js"></script> 
</body>
</html>