<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirme sua Presença</title>

    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    
    <header>
        <nav>
            <div class="couple-name">
                Bryan & Vanessa
            </div>
            <ul class="navbar-list">
                <li><a href="../index.html">Início</a></li>
                <li><a href="./padrinhos.html">Padrinhos</a></li>
                <li><a href="./presenca.html" class="active">Presença</a></li>
                <li><a href="./presentes.html">Presentes</a></li>
            </ul>
        </nav>
    </header>

    <h1>Confirmação de Presença</h1>

    <div class="form-container">
        <label for="nomeConvidado">Digite seu nome ou o nome do convite:</label>
        <input type="text" id="nomeConvidado" placeholder="Ex: Maria e família">
        <button onclick="verificarConvidado()">Verificar na Lista</button>
    </div>
    <div id="resultado" class="hidden"></div>
        
    <!-- <section class="sealing scroll-reveal fade-in-up">
            <div class="left-column">
                <h2>Selamento</h2>
                <p class="met-date">12/09/26 / 15:00</p>
            </div>
            <div class="right-column">
                <p class="story-text"> Com imensa alegria em nossos corações, convidamos você que é 
                    especial em nossas vidas para testemunhar um dos momentos mais sagrados da nossa 
                    jornada. Nosso selamento eterno no Templo! Neste dia, vamos unir nossas almas 
                    não apenas para esta vida, mas para toda a eternidade, segundo a promessa do Senhor.

                </p>
            </div>
        </section> -->

        <!-- <section class="dinner scroll-reveal fade-in-up">
            <div class="left-column">
                <h2>Recepção</h2>
                <p class="met-date">12/09/26 / 18:00</p>
            </div>
            <div class="right-column">
                <p class="story-text">Após a cerimônia no Templo, teremos a alegria de celebrar
                    este novo capítulo com todos vocês em nossa Recepção. Este será o nosso momento 
                    de abraçar e agradecer a presença de cada um, compartilhando boas comidas, 
                    músicas e muita alegria.
                </p>
            </div>
        </section> -->

    <main>

    </main>
    
    <footer>
        <div class="links-group">
            <ul class="footer-links">
                <li><a href="../index.html">Início</a></li>
                <li><a href="padrinhos.html">Padrinhos</a></li>
                <li><a href="presenca.html">Presença</a></li>
                <li><a href="presentes.html">Presentes</a></li>
            </ul>
        </div>

        <div class="copyright-group">
            <p class="copyright-line-one">&copy; <span id="current-year"></span> | Bryan & Vanessa</p>
            <p class="copyright-line-two">Todos os direitos reservados</p>
        </div>
        
        <div class="social-media-group">
            <p class="duvidas-texto">Dúvidas:</p>
            <ul class="social-links">
                <li>
                    <a href="https://wa.me/41988939608" target="_blank" class="whatsapp-link">
                        <img src="../images/whatsapp.png" alt="WhatsApp">
                        Bryan
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/63933005070" target="_blank" class="whatsapp-link">
                        <img src="../images/whatsapp.png" alt="WhatsApp">
                        Vanessa
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="script/countdown.js"></script>
    <script src="script/script.js"></script> 
</body>
</html>