<header class="top-bar">
    <div class="logo">
        <a href="index.html">
            <img src="images/logo1.png" alt="Logo Casa Biju" width="300">
        </a>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Procure o que deseja...">
        <button><i class='bx bx-search'></i></button>
    </div>

    <div class="top-info">
        <div class="user-login">
            <p>Bem vindo;</p>
            <a href="#">Entre ou cadastre-se</a>
        </div>
    </div>

    <div class="icons">
        <a href="#" class="icon">
            <i class='bx bxs-heart'></i>
            <span class="badge">0</span>
        </a>
        <a href="#" class="icon">
            <i class='bx bxs-shopping-bag'></i>
            <span class="badge">0</span>
        </a>
    </div>
</header>

<nav class="menu">
    <ul>
        <li><a href="index.html">Início</a></li>
        <li><a href="products/aneis.html">Anéis</a></li>
        <li><a href="products/brincos.html">Brincos</a></li>
        <li><a href="products/colares.html">Colares</a></li>
        <li><a href="products/kits.html">Kits</a></li>
        <li><a href="products/pingentes.html">Pingentes</a></li>
        <li><a href="products/pulseiras.html">Pulseiras</a></li>
        <li><a href="products/lancamentos.html">Lançamentos</a></li>
        <li><a href="products/promocoes.html">Promoções</a></li>
    </ul>
</nav>