<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dentista - Yasmin Micene{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if "usuario" in session %}
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            <button id="toggle-dark" class="btn">Dark Mode</button>
        </nav>
    </header>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>