<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Casa Biju - Geruza Blind{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <meta name="description" content="Bijuterias e acessórios" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWvS2fT2F+KJpYfZ4ZCkxzgv2Fne5+5ZTCDYFzVz1nwK6JqqPiFZ+6A0b+Y1fY8+4z+6JQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if "usuario" in session %}
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            <button id="toggle-dark" class="btn">Dark Mode</button>
        </nav>
    </header>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>