html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../images/wall.jpg);
    background-size: 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #ffd700;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}

.menu-time {
    margin-left: 5rem;
}

.menu-lives img {
    margin-right: 0.5rem;
}

/* NOVO: Estiliza o número de vidas (h2) */
.menu-lives h2 { 
    /* Garante que o número de vidas seja estilizado */
    margin-left: 0.5rem; 
    color: white; /* Cor do texto de vidas */
    /* Você pode adicionar mais estilos aqui se necessário */
}

.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2) {
    margin-top: 10px;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    background-color: #42efb6;
}

.enemy {
    background-image: url("../images/ralph.webp");
    background-size: cover;
}