<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Thon Barbearia{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/thonbarbearia.png') }}" type="image/png">
    {% block extra_head %}{% endblock %}
</head>

<body>
    
<header>
  <nav class="main-nav">
    <div class="nav-left">
      <a href="{{ url_for('home') }}" class="logo-link">
        <img src="{{ url_for('static', filename='images/thonbarbearia2.png') }}" alt="Thon Barbearia" class="logo-img">
      </a>
    </div>
    <div class="nav-center">
      <a href="{{ url_for('home') }}" class="brand-name">Thon Barbearia</a>
    </div>
    <div class="nav-right">
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}" class="{% if active_page=='home' %}active{% endif %}">Início</a></li>
        <li><a href="{{ url_for('agendamento') }}" class="{% if active_page=='agendamento' %}active{% endif %}">Agendamento</a></li>
        <li><a href="{{ url_for('sobre') }}" class="{% if active_page=='sobre' %}active{% endif %}">Sobre</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('meus_agendamentos') }}" class="{% if active_page=='meus_ag' %}active{% endif %}">Meus agendamentos</a></li>
          {% if current_user.role == 'barbeiro' %}
          <li><a href="{{ url_for('agenda_barbeiro') }}" class="{% if active_page=='agenda' %}active{% endif %}">Agenda</a></li>
          {% endif %}
          <li><a href="{{ url_for('logout') }}">Sair</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}" class="{% if active_page=='login' %}active{% endif %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>



    <div id="page-container">
        <div id="content-wrap">
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    
        <footer>
            <p>&copy; {{ current_year }} Thon Barbearia <br> Todos os direitos reservados</p>
            <ul class="social">
                <li><a href="https://www.instagram.com/thonbarbearia/" target="_blank"><img
                            src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram"></a></li>
                <li><a href="https://www.facebook.com/thonbarbearia" target="_blank"><img
                            src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a></li>
                <li><a href="https://wa.me/41995422355" target="_blank"><img
                            src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp"></a></li>
            </ul>
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>